.title-section{
    height: 100px;
    padding: 2%;
    color: #2596be;
}

.title{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size:x-large;
    padding: 2px;
    max-width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.incoming-msg{
    background-color:  #E8F4FA;
    border-radius: 20px;
    border-top-left-radius: 0px;
    width: fit-content;
    height: fit-content;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 2%;
}

.outgoing-msg{
    background-color:  #f7f7f7;
    border-radius: 20px;
    border-top-right-radius: 0px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 2%;
}

.text-muted{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size:smaller;
}

.main-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.chat-page{
    background-image: url("/IS3-Online-Tutoring/uploads/backgroundImages/chatBackground2.png");
    z-index: -100;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.msg-content{
    padding-bottom: 2%;
}

.msgs{
  overflow-y: scroll;
  height: 500px;
  width: 800px;
}

.row{
    max-width: 95%;
    padding-left:2%;
    padding-right:2%;
}


.btn-primary {
    background-color: #2596be;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: #d3d3d3 !important;
}

.icon-btn{
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 20%;
}

.form-control{
    margin-bottom: 5px;
}

input[type=text].input-field, input[type=url].input-field {
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
}


/* People List */

.card {
    background: white;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}


.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 20px;
    max-width: 50%;
    margin: auto;
    margin-bottom: 10px;
    padding: 2%;

}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-bottom: gainsboro solid thin;
    

}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .read-chat {
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size:medium;
    font-style: italic;
}

.people-list .chat-list li .unread-chat {
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size:medium;
    text-decoration: underline;
}



.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.side-img{
    z-index: -10;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #E8F4FA;
}

.chat-header-img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat-header label{
    margin-left: 10px;
    margin-top: auto;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size:large;
}

.gray{
    background-color: #f7f7f7;
}


.reply-btn{

    border-top-right-radius: 0px;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 2%;
}


