.course{
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.title-section{
    height: 100px;
    padding: 2%;
    color: #2596be;
}

.title{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size:x-large;
    padding: 2px;
    max-width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container{
    border-radius: 20px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5%;
}

.section{
    width: 90%;
    height: auto;
    padding: 5%;
}


.page-content{
    align-content: center;
}

.course.selected{
    background-color: #E8F4FA;
}




.card-title{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: large;
    color: #2596be;
}

.card-subtitle{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size:x-large;
}

.card-text{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size:small;
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: #818181;
    border-radius: 50%;
    display: inline-block
}

.text-muted{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size:smaller;
}

.checked {
    color: #2596be;
    margin-top: 5px;
}

.unchecked {
    color:  #d3d3d3;
    margin-top: 5px;
}

.btn-primary {
    background-color: #2596be;
    width: 200px;
    border: 0;
    margin:5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: #d3d3d3 !important;
    width: 200px;
    margin:5px;
}

.deletebtn{
    background-color: #d11a2a;
}

.whitebtn{
    background-color: #ffffff;
    color: #2596be;
    border-color: #2596be;
    border-width: thin;
    border-style: solid;
}

.whitebtn:hover, .whitebtn:focus, .whitebtn:active, .whitebtn.active{
    background-color: #2596be  !important;
    color: #ffffff;
    
}


.overlay-section{
    overflow: hidden;
    position: fixed; 
    bottom: 0; 
    z-index: 100;
    width: 100%;
    height: 7%;
    background-color: #E8F4FA;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}


.icon
{
    color:  #ffffff;
    margin: 5%;
}

.form-check-input{
    width: 20px;
}



@media screen and (max-width: 1200px) {
    div.side-bar {
      display: none;
    }
}
