.course{
    /* background-color:  #E8F4FA; */
    /* border-color: #2596be;
    border-style: solid;
    border-width: thin; */
    border-radius: 20px;
    max-width: 60%;
    margin: auto;
    margin-bottom: 10px;
    padding: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);

}

.title{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size:x-large;
    margin: auto;
    padding: 1%;
    max-width: 60%;
}



.card-title{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: large;
    color: #2596be;
}

.card-subtitle{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size:x-large;
}

.card-text{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size:small;
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: #818181;
    border-radius: 50%;
    display: inline-block
}

.text-muted{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size:smaller;
}

.checked {
    color: #2596be;
    margin-top: 5px;
}

.unchecked {
    color:  #d3d3d3;
    margin-top: 5px;
}

.btn-primary {
    background-color: #2596be;
    width: 200px;
    border: 0;
    margin:5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: #d3d3d3 !important;
    width: 200px;
    margin:5px;
}

.deletebtn{
    background-color: #d11a2a;
}


.icon
{
    color:  #ffffff;
    margin: 5%;
}
