#editProfileDisplay {
    display: block;
  
}
#centerEditForm{
    position: absolute;
    left: 57%;
    top: 13%;
}
#editProfileImage{
    position: relative;
    border-radius: 50px;
    left: 5%;
    
}
#continue{
    position: absolute;
    left: 80%;
    bottom:2%;
}

.circular-landscape { 
    display: flex;
    justify-content: center;
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circular-landscape img {
    width: auto; 
    height: 100%; 
}