#editProfileDisplay {
    display: block;
  
}
#centerEditForm{
    position: absolute;
    left: 57%;
    top: 13%;
}
#editProfileImage{
    position: relative;
    border-radius: 50px;
    left: 5%;
    
}
#continue{
    position: absolute;
    left: 80%;
    bottom:2%;
}
#profilePictureUpdated{
    position: absolute;
    left: 80%;
    bottom:9%;
}
.circular-landscape { 

    position: relative; 
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
    border-radius: 50%; 
  
} 
.circular-landscape img {
    width: auto; 
    height: 100%; 
}