html, body {
    height: 100%;
    width: 100%;
    margin:0; /* new */
}
.container-fluid{
    padding: 0 !important;
}
.Banner{
    height: 500px;
    width: 100%;
    background-color: #ececf4;
    z-index: -2;
    
}

.services{
    width: 100%;
    height: 100px;
    border-bottom:1px solid rgb(226, 225, 225);
    padding-right:5%;
    padding-left:5%;
}

.service{
    margin-top: 1.5%;
    
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: center;
    padding-right: -10%;
}

.service-icon{
    position: static;
    width: 60px;
    height: 60px;
    background: #ECFFDA;
    border-radius: 20px;
}

.service-icon > img{
    width: 50%;
    margin:25%
}
.svg{
    position: relative;
    z-index: -1;
}

.service-text{
    position: static;
    margin:10px;
    margin-top: -3%;
}

#service1{
    background-color: #EFEAFF;
}
#service2{
    background-color: #ECFFDA;
}#service3{
    background-color: #DAE6FF;
}#service4{
    background-color: #FFE5DA;
}
.service-text > h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size:medium;
}


.service-text > p{
    font-family: 'Sora', sans-serif;
    font-weight: 200;
    font-size:small;
    margin-top: -3%;
}


.BannerElements{
    position:absolute;
    margin-left: 120px;
}

.BannerText{
    position: static;
    margin-top: 100px;
}
.BannerButtons{
    position: static;
    width: auto; 
    margin-top: 50px;
}

.Banner > img{
    width: auto; 
    max-height: 100%; 
    position:static;
    float:right;
    z-index: -1;
}

.BannerText > h1{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    width: 100%;
    height: 40px;
}
.BannerText > h2{
    font-family: 'Sora', sans-serif;
    font-weight: 200;
    font-size: 24px;
    width: 100%;
    height: 40px; 
    margin-top: 50px;
    height: 40px;
}


.BannerButton {
    background-color: #000000;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border:0px solid rgb(226, 225, 225);
    border-radius: 5px;
  }
  #BB2{
    background-color: #2596be;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .BannerButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .BannerButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
  }
  
  .BannerButton:hover{
    background-color: #2596be;
  }
  .BannerButton:hover span {
    padding-right: 25px;
    color: white;
    background-color: #2596be;
  }
  
  .BannerButton:hover span:after {
    opacity: 1;
    right: 0;
    color: white;
    background-color: #2596be;
  }
 