html, body {
  height: 100%;
  width: 100%;
  margin:0; /* new */
  }

.navbar-custom{
  position:fixed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-family: sans-serif;
    position: relative;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0px;

}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000000;
}

.navbar-nav {
    color: #000000;
    
}

.navbar-custom .navbar-nav > li >a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:black;
    transition: 0.5s;

}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color: white;
    color: #2596be;
    transition: 0.2s;
}

.button {
    background-color: #2596be;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px solid rgb(226, 225, 225);
    margin-top: -10px;
    border:0px solid rgb(226, 225, 225);
    border-radius: 5px;
  }

  .button2 {
    background-color: #2596be;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px solid rgb(226, 225, 225);
    margin-top: -10px;
    border:0px solid rgb(226, 225, 225);
    border-radius: 5px;
    font-family: poppins;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    width: 800px;
    height: 50px;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0rem 0.25rem 0rem 0rem #8ad4f0;
    transition:0.5s;
    margin-top: -5px;
  }
  
  .input-wrapper:hover, .input-wrapper:focus-within {
    display: flex;
    align-items: center;
    width: 800px;
    height: 50px;
    justify-content: space-between;
    background: #2596be;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0rem #8ad4f0;
    transition:0.5s
  }

  .input-wrapper input {
    margin:  0.5rem 0 0.5rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #ffffff;
    color: #2596be;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition:0.5s
  }

  .input-wrapper input:hover {
    margin: 0 1rem 0 1rem;
    width: 100%;
    border: none;
    outline: none;
    background: #2596be;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: 0.5s
  }
  .input-wrapper input:focus {
    margin: 0 1rem 0 1rem;
    width: 100%;
    border: none;
    outline: none;
    background: #2596be;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: 0.5s
  }
  
  ::placeholder {
    color: #8ad4f0;
  }
  
  #livesearch {
    position: fixed;
    z-index: 999;
    background-color: white;
    border-radius: 10px;
    width:40%

  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
  }
  
  .button:hover{
    background-color: #2596be;  
  }

  .button2:hover{
    background-color: #1b789a;  
    margin-top: -6px;

  }
  .button:hover span {
    padding-right: 25px;
    color: white;
    background-color: #2596be;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    color: white;
    background-color: #2596be;
  }

  .btn-custom{
    margin: 11px;
    margin-right: 15px;
    background-color: white;
    color: #2596be;
    border:0px;
    transition: 0.5s;
  }

  .btn-custom:hover{
    background-color: white;
    color: #49ccfb;
    border:0px;
    transition: 0.5s;
  }

  .search-box{
    border-radius: 20px;
    width: 800px;
    height: 40px;
    padding: 20px;
    resize: horizontal;
    overflow: auto;
  }


.form-group{
    margin-top: -5px;
}

.dropdown{
  border-radius: 50px;
}

.dropdown-toggle-custom{
  display: inline-block; 
  position: relative; 
  width: 52px; 
  height:52px;
  overflow: hidden; 
  border-radius: 50%; 
  text-align: center;
  
  transition: 0.3s;

}
.dropdown-toggle-custom:hover{
  width: 54px;
  height:54px;
  overflow: hidden; 
  transition: 0.3s;
  opacity: 0.5;
}
.dropdown-menu-custom{
  width:200px;
  padding-top: 15px;
}
.dropdown-menu-custom h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 15px;
  font-weight: 700;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;
  display: inline;
}
.dropdown-menu-custom p{
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  margin-left: 15px;
  font: poppins;
  color: #b8b8b8;
}

.menuicon{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}


.navbar-icons{
  opacity:1;
  transition:0.3s;
}
.navbar-icons:hover{

  opacity:0.5;
  transition:0.3s;
}